<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create idea</title>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Create a new idea</h1>
        <h1>{{error}}</h1>
        <form action="/create_idea", method="POST">
            <div class="form_user">
                <label for="activity">Activity</label>
                <input type="text" class="form-control" id='activity' name ='activity' required>
            </div>
            <div class="form_user">
                <label for="type">Type</label>
                <textarea type="text" class="form-control" id='type' name ='type'></textarea>
            </div>
            <div class="form_user">
                <label for="participants">Participants</label>
                <textarea type="text" class="form-control" id='participants' name ='participants'></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>

</body>
</html>