<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ideas{{user.name}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>List of ideas {{user.name}}</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Type</th>
                    <th>Participants</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td> {{user.action}}</td>
                    <td> {{user.type}}</td>
                    <td> {{user.participants}}</td>
                        <a href="{{url_for('get_idea', user_id=user.id) }}" class="btn btn-primary">View idea</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>